* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: blue;

}

h1,
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link--style {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  
}

/* NAVBAR */

nav {
  background-color: #282c34;
}

.nav--container {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* HOME */


/* TRENDINGS */

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 4vh 0;
  gap: 10px;
}

.trending--grid__item {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #282c34;
  border-bottom: 8px solid #282c34;
}

.trending--grid__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trending--gif__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* CATEGORIES */


/* SEARCH */

.nav--search {
  max-width: 50.4%;
  margin: 0 auto;
}

/* RANDOM */

.random--img {
  max-width: 60vw;
  max-height: 60vh;
  background-color: #282c34;
  border-bottom: 8px solid #282c34;
}

.random--img__size {
  object-fit: contain;
  max-width: 60vw;
  max-height: 60vh;
}

.random--img__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5vh;
}

.random--container {
  margin-top: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MY GIFS */


/* PROFILE */